@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranga:wght@700&display=swap');

:root {
	--main-color: #212529;
	--second-color:  #F4C95D;
}
.main-btn {
	background-color: var(--second-color);
	color: var(--main-color);
	font-weight: bolder;
	font-size: 20px;
	margin-left: 0.2rem;
}


@media screen and (max-width: 990px){
	.vertical-line {
		display: none;
	}
	.mt-resp {
		margin-top: 3.5rem;
	}
}

body {
	background-color: #1b1b1b;
	font-family: 'Heebo', sans-serif;
	overflow-x: hidden;
}

/** FOOTER **/
footer {
	background-color: #0f0f0f;
	height: 200px;
	display: flex;
	color: white;
}
footer > div {
	margin: 2rem auto;
	align-self: center;
}
footer a {
	color: white;
	text-decoration: none;
	transition: 0.5s;
}
footer a:hover {
	transition: 0.2s;
	color: var(--second-color);
}
footer h3 {
	color: var(--second-color);
	font-size: 28px;
	text-align: center;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--second-color);
}
footer li {
	list-style-type: none;
	font-size: 22px;
}
footer li i {
	margin-right: 0.5rem;
}
.logo-footer {
	font-family: 'Six Caps', cursive;
	margin: auto !important;
	font-size: 48px !important;
	color: white;
	text-decoration: none;
}



.request-infos span {
	border-radius: 15px 15px 0 0;
	justify-content: center;
	align-items: center;
	background-color: #2b2d42;
}
.request-infos h4 {
	text-align: center;
}
.request-infos ul {
	list-style-type: none;
	background-color: #fde4cf;
	border: 3px solid #2b2d42;
}
.request-infos li {
	padding: 10px 0px;
	text-align: justify;
}



/** HEADER **/

.header {
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	padding: 2.5rem 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	transition: 0.5s;
}
.on-nav-header {
	transition: 0.8s;
	padding: 1.5rem 0;
}

.header a {
	transition: 0.5s;
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 28px;
	margin: 1rem;
}

.header a:hover {
	transition: 0.5s;
	opacity: 70%;
}

.header a.active {
	border-bottom: 2px solid white;
}

.logo-header {
	font-family: 'Six Caps', cursive;
	position: absolute;
	left: 5%;
	top: 2rem;
	margin: auto !important;
	font-size: 36px !important;
}



.hidden-navbar {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	position: fixed;
	top: -300px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.90);
	width: 100%;
}
.hidden-navbar a {
	color: white;
	text-decoration: none;
	font-size: 32px;
	text-align: center;
	margin: 0.5rem 0;
}

.header-btn {
	color: white;
	top: 0;
	right: 0;
	z-index: 1001;
	width: 110px;
	height: 110px;
	position: fixed;
}

.header-btn {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active .header-btn {
	transform: rotate(90deg);
}
.header-btn path {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
	stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
	stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn path:nth-child(1) {
	transform-origin: 36% 40%;
}
.header-btn path:nth-child(2) {
	stroke-dasharray: 29 299;
}
.header-btn path:nth-child(3) {
	transform-origin: 35% 63%;
}
.header-btn path:nth-child(4) {
	stroke-dasharray: 29 299;
}
.header-btn path:nth-child(5) {
	transform-origin: 61% 52%;
}
.header-btn path:nth-child(6) {
	transform-origin: 62% 52%;
}
.active .header-btn  path:nth-child(1) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active .header-btn  path:nth-child(2) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}
.active .header-btn  path:nth-child(3) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active .header-btn  path:nth-child(4) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}
.active .header-btn  path:nth-child(5) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active .header-btn  path:nth-child(6) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}

@media screen and (max-width: 950px){
	nav.header {
		display: none;
	}
	nav.header-mobile {
		display: block;
	}
}

@media screen and (min-width: 950px){
	nav.header-mobile {
		display: none;
	}
}



/** BACKGROUND **/
.bg-main {
	/* height: 100vh; */
	background-color: white;
	background-image: url('bg-event.jpg');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 80%);
	padding: 3rem;
}
.bg-text h1 {
	font-size: 100px;
	color: rgb(255, 255, 255);
	font-family: 'Ranga', cursive;
}

/** PRESENTATION **/

#presentation {
	margin-top: 8rem;
	margin-bottom: 5rem;
	background-color: #1b1b1b;
	color: white;
	
}
#presentation .row {
	margin: 0 0 0 4rem;
}
.text-block {
	font-size: 24px;
}
.text-block h1 {
	margin-bottom: 2rem;
	font-family: 'Ranga', cursive;
	/* border-bottom: 2px solid white; */
}
.text-block h1::after {
	content : "";
  	border-bottom: 2px solid white;
	display: block;
	width: 22rem;
	margin-top: 0.5rem;
}
.vertical-line {
	border-left: 3px solid rgb(145, 145, 145);
	height: 1000px;
	margin-right: -3%;
	margin-left: 3%;
}
/* .horizontal-line {
	border-bottom: 3px solid rgb(145, 145, 145);
	width: 30%;
	margin: 4rem auto;
	display: none;
} */
.img-block {
	margin-top: 2rem;
}
.img-block img {
	width: 95%;
}
.stepbystep li {
	display: flex;
	margin-bottom: 3.2rem;
}
.stepbystep g text {
	font-weight: 900;
}
.stepbystep i {
	color: var(--second-color);
	margin-left: 0.5rem;
}
@media screen and (max-width: 990px){
	.stepbystep li {
		margin-bottom: 3rem;
		margin-top: 1rem;
		font-size: 28px;
	}
}






